In [1]:
import numpy as np 
import pandas as pd 
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import datetime as dt
import yfinance as yf

In [2]:
company = yf.Ticker("SBIN.NS")

In [ ]:
#start_date = input("Enter the starting date in yyyy/mm/dd format : ")
#end_date = input("Enter the end date : ")

In [ ]:
## Start and Ending of the dataset

In [3]:
dff = company.history(period="1y")

In [4]:
dff.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-05-28,159.449997,162.399994,156.699997,158.199997,76968678,0,0
2020-05-29,156.100006,161.899994,155.199997,161.300003,58363280,0,0
2020-06-01,164.000000,171.399994,163.350006,170.050003,92740893,0,0
2020-06-02,169.899994,171.300003,167.199997,170.250000,70419104,0,0
2020-06-03,172.500000,179.899994,172.000000,174.899994,113168889,0,0

In [5]:
df = dff[['Open']]

In [18]:
#Variable for Predicting Some days
cast_out = 10

#Another Colomn
df['Prediction'] = dff[['Open']].shift(-cast_out)
df

<ipython-input-18-b02694ebfdc6>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Prediction'] = dff[['Open']].shift(-cast_out)

                  Open  Prediction
Date
2020-05-28  159.449997  188.000000
2020-05-29  156.100006  170.000000
2020-06-01  164.000000  177.850006
2020-06-02  169.899994  178.000000
2020-06-03  172.500000  171.000000
...                ...         ...
2021-05-24  417.000000         NaN
2021-05-25  415.100006         NaN
2021-05-26  413.799988         NaN
2021-05-27  413.700012         NaN
2021-05-28  430.500000         NaN

[251 rows x 2 columns]

In [19]:
#Creating new dataset before 30days for testing!
x = np.array(df.drop(['Prediction'],1))
x = x[:-cast_out]
y = np.array(df['Prediction'])
y = y[:-cast_out]

In [20]:
#Splitting and Training the data into 80 train and 20 testing
x_training, x_testing, y_training, y_testing = train_test_split(x,y,test_size=0.33,random_state=52)

In [21]:
#Values to be predicted
x_cast = np.array(df.drop(['Prediction'],1))[-cast_out:]
print("Data we are going to use:",x_cast)

Data we are going to use: [[364.3999939 ]
 [390.        ]
 [382.        ]
 [387.        ]
 [390.        ]
 [417.        ]
 [415.1000061 ]
 [413.79998779]
 [413.70001221]
 [430.5       ]]

In [23]:
#Linear Regession model \
lr = LinearRegression()
lr.fit(x_testing, y_testing)

#Testing Linear Regression model
lr_conf = lr.score(x_testing, y_testing)
print(lr_conf)

#Predicted values using LR
lr_predit = [lr.predict(x_cast)]
print("Using Linear Regression :",lr_predit)

0.9152151712898153
Using Linear Regression : [array([365.93281032, 390.09174522, 382.54207987, 387.26062071,
       390.09174522, 415.57186581, 413.77882604, 412.55198814,
       412.45764037, 428.3119261 ])]

In [ ]:
#Create and traing the SVM model
svr_rbf = SVR(kernel='rbf',C=1e3,gamma=0.1)
svr_rbf.fit(x_training, y_training)

#testing this svm model# ## Gives the score
svm_conf = svr_rbf.score(x_testing, y_testing)
print(svm_conf)

#Predicted values using SVM

svr_predict = [svr_rbf.predict(x_cast)]
print("Using SVR:",svr_predict)